<a href="https://colab.research.google.com/github/pogchampouu/Portfolio/blob/main/PFA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Import**

# **Remove all the files in a directory**

In [1]:
def removeImages(data_dir) :
  file_list = os.listdir(data_dir)
  for file_name in file_list:
      file_path = os.path.join(data_dir, file_name)
      if os.path.isfile(file_path):
          os.remove(file_path)

In [2]:
import os
import cv2
import numpy as np
import pandas as pd
import tensorflow as tf
import matplotlib.pyplot as plt
import xml.etree.ElementTree as xet

# **Read the XML Files and get the fields and the coordon√©es from them**

In [3]:
xml_file = xet.parse('data/A (1).xml')
root = xml_file.getroot()
for obj in root.findall('object'):
    name = obj.find('name').text
    xmin = int(obj.find('bndbox/xmin').text)
    ymin = int(obj.find('bndbox/ymin').text)
    xmax = int(obj.find('bndbox/xmax').text)
    ymax = int(obj.find('bndbox/ymax').text)
    print([name,xmin,xmax,ymin,ymax])

['prenom', 82, 269, 646, 748]
['nom', 82, 357, 799, 911]
['date', 984, 1410, 983, 1070]
['apogee', 996, 1412, 1113, 1195]
['cne', 1004, 1476, 1256, 1344]
['email', 118, 1098, 1730, 1828]

In [4]:
path = 'data/'
# List all our XML files in our data directory
files = [filename for filename in os.listdir(path) if filename.endswith('.xml')]
print(len(files),files)

115 ['A (110).xml', 'A (14).xml', 'A (69).xml', 'A (11).xml', 'A (42).xml', 'A (51).xml', 'A (47).xml', 'A (106).xml', 'A (45).xml', 'A (62).xml', 'A (72).xml', 'A (91).xml', 'A (25).xml', 'A (84).xml', 'A (18).xml', 'A (5).xml', 'A (77).xml', 'A (107).xml', 'A (115).xml', 'A (2).xml', 'A (66).xml', 'A (56).xml', 'A (59).xml', 'A (85).xml', 'A (40).xml', 'A (95).xml', 'A (109).xml', 'A (43).xml', 'A (80).xml', 'A (24).xml', 'A (1).xml', 'A (4).xml', 'A (10).xml', 'A (8).xml', 'A (70).xml', 'A (28).xml', 'A (113).xml', 'A (61).xml', 'A (98).xml', 'A (55).xml', 'A (49).xml', 'A (52).xml', 'A (108).xml', 'A (71).xml', 'A (96).xml', 'A (34).xml', 'A (39).xml', 'A (97).xml', 'A (111).xml', 'A (114).xml', 'A (100).xml', 'A (94).xml', 'A (7).xml', 'A (65).xml', 'A (30).xml', 'A (78).xml', 'A (21).xml', 'A (48).xml', 'A (67).xml', 'A (36).xml', 'A (32).xml', 'A (57).xml', 'A (63).xml', 'A (6).xml', 'A (58).xml', 'A (112).xml', 'A (17).xml', 'A (87).xml', 'A (15).xml', 'A (20).xml', 'A (44).xml', 'A (104).xml', 'A (50).xml', 'A (81).xml', 'A (37).xml', 'A (22).xml', 'A (35).xml', 'A (54).xml', 'A (33).xml', 'A (101).xml', 'A (73).xml', 'A (89).xml', 'A (27).xml', 'A (9).xml', 'A (82).xml', 'A (16).xml', 'A (74).xml', 'A (23).xml', 'A (86).xml', 'A (29).xml', 'A (12).xml', 'A (92).xml', 'A (76).xml', 'A (79).xml', 'A (31).xml', 'A (83).xml', 'A (68).xml', 'A (93).xml', 'A (60).xml', 'A (53).xml', 'A (102).xml', 'A (41).xml', 'A (26).xml', 'A (105).xml', 'A (90).xml', 'A (13).xml', 'A (88).xml', 'A (75).xml', 'A (3).xml', 'A (19).xml', 'A (38).xml', 'A (46).xml', 'A (99).xml', 'A (103).xml', 'A (64).xml']

In [5]:
labels_dict = {
      'filepath': [], 
      'prenom_xmin': [], 'prenom_xmax': [], 'prenom_ymin': [], 'prenom_ymax': [],
      'nom_xmin': [], 'nom_xmax': [], 'nom_ymin': [], 'nom_ymax': [],
      'date_xmin': [], 'date_xmax': [], 'date_ymin': [], 'date_ymax': [],
      'apogee_xmin': [], 'apogee_xmax': [], 'apogee_ymin': [], 'apogee_ymax': [],
      'cne_xmin': [], 'cne_xmax': [], 'cne_ymin': [], 'cne_ymax': [],
      'email_xmin': [], 'email_xmax': [], 'email_ymin': [], 'email_ymax': []  
}

In [6]:
# Loop ela ga3 fichiers XML that we have
for filename in files :
  file_path = os.path.join(path,filename)
  # Parse the XMl File
  xml_file = xet.parse(file_path)
  root = xml_file.getroot()
  for objet in root.findall('object'):
    # get our objects , li huma fields dyalna (prenom , nom ....)
    objet_name = objet.find('name') # Our field
    # ila makanch
    if objet_name is None :
      # SKip
      continue
    # Smiya d field
    objet_name_text = objet_name.text
    # Bounding boxes
    labels = objet.find('bndbox')
    if labels is None :
      continue
    xmin_element = labels.find('xmin')
    xmax_element = labels.find('xmax')
    ymin_element = labels.find('ymin')
    ymax_element = labels.find('ymax')
    if None in (xmin_element, xmax_element, ymin_element, ymax_element):
      continue
    xmin = int(xmin_element.text)
    xmax = int(xmax_element.text)
    ymin = int(ymin_element.text)
    ymax = int(ymax_element.text)
    if file_path not in labels_dict['filepath']:
            labels_dict['filepath'].append(file_path)
    labels_dict[f'{objet_name_text}_xmin'].append(xmin)
    labels_dict[f'{objet_name_text}_xmax'].append(xmax)
    labels_dict[f'{objet_name_text}_ymin'].append(ymin)
    labels_dict[f'{objet_name_text}_ymax'].append(ymax)

In [7]:
len(labels_dict['filepath'])

115

In [8]:
df = pd.DataFrame(labels_dict)
df.to_csv('labels.csv', index=False)
df.head()

,filepath,prenom_xmin,prenom_xmax,prenom_ymin,prenom_ymax,nom_xmin,nom_xmax,nom_ymin,nom_ymax,date_xmin,...,apogee_ymin,apogee_ymax,cne_xmin,cne_xmax,cne_ymin,cne_ymax,email_xmin,email_xmax,email_ymin,email_ymax
0,data/A (110).xml,60,383,624,746,74,374,786,906,992,...,1099,1208,985,1523,1233,1355,143,1154,1728,1821
1,data/A (14).xml,82,455,646,756,82,371,799,893,984,...,1113,1195,1004,1502,1256,1350,118,1286,1730,1838
2,data/A (69).xml,60,418,624,757,78,385,781,899,992,...,1099,1208,985,1523,1233,1355,143,1247,1728,1819
3,data/A (11).xml,82,335,646,756,82,406,799,911,984,...,1113,1195,1004,1502,1256,1350,118,1178,1730,1820
4,data/A (42).xml,78,471,652,752,74,376,781,907,971,...,1105,1203,994,1510,1246,1354,135,1294,1722,1834